alignCenter()
  display flex
  align-items center

justifyCenter()
  display flex
  justify-content center

hoverTransition()
  transition background-color linear .3s
  &:hover
    background-color rgba(#000, .09)
    transition @transition
